.inject-icon-component {
  flex: 0 0 20%;
  align-self: flex-start;
  display: inline-block;
  color: black;
  min-width: 44px;
  max-width: 44px;
  margin-right: 0.6rem;

  .name {
    position: relative;
    display: inline-block;
    right: -4rem;
    top: -1.1rem;
    font-size: 0.77rem;
  }

  img {
    display: block;
    width: 40px;
    height: 40px;
    margin: -1rem auto 0;
  }
}

.inject-column-flex {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-basis: auto;
}

.inject-bubble-box {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  min-height: 30px;
  padding: 0;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0.01rem 0.05rem 0 0 rgba(180, 180, 180, 0.5);
}

.inject-bubble-text {
  flex: 1 1 auto;
  align-self: stretch;
  display: inline-block;
  min-width: 5%;
  margin: 0;
  padding: 0.6rem 0.5rem;
  display: inline-block;
}

.inject-botbubble-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inject-bubble-margin-padding {
  padding-top: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.inject-input-or-button {
  display: inline-block;
  margin: 0.5rem 0.2rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0.03rem 0.07rem 0 0 rgba(180, 180, 180, 0.5);
  background-color: $bubble-background-color;
}
