
.slideInLeft {
  animation-name: slideInLeft;
  opacity:0;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}

.nameApppeared {
  opacity: 1;
}
.nameNotAppeared {
  opacity:0;
}
.nameAppear {
  animation-name: nameAppear;
  animation-duration: '900ms';
  animation-delay: '1200ms';
  opacity: 0;
}
@keyframes nameAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nope {
  display: none;
}
.noDimensions {
  height: 0;
  width: 0;
  line-height: 0;
}
.initialDimensions {
  height: initial;
  width: initial;
  line-height: initial;
}
.raisedWord {
  display: inline-block;
  margin-right: 5px;
  opacity: 1;
}
.notYetRaisedWord {
  display: none;
  opacity: 0;
  margin: 0;
}
.raiseWord {
  animation-name: raiseWord;
  animation-timing-function: ease-in;
  display: inline-block;
  margin: initial 5px initial initial;
}

@keyframes raiseWord {
  0% {
    opacity: 0;
    transform-origin: 0 0;
  }
  5% {
    display: inline-block;
    opacity: 0;
    transform-origin: 0 0;
  }
  100% {
      display: inline-block;
      opacity: 1;
      transform-origin: 0 0;
  }
}

.openBubble {
  animation-name: openBubble;
  animation-duration: 1200ms;
  animation-delay: 0;
}
@keyframes openBubble {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    transform: perspective(800px);
  }

  100% {
    opacity: 1;
    transform-origin: 0 100%;
    transform: perspective(800px);
  }
}

.answerRisen {
  opacity: 1;
  // margin-bottom: 1rem;
}
.raiseAnswer {
  animation-name: raiseAnswer;
  opacity: 0;
}
@keyframes raiseAnswer {
  0% {
    opacity: 0;
    margin-bottom: 0;
    height: initial;
    // transform-origin: 0 100%;
    // transform: translateY(-100%);
  }
  70% {
      opacity: 1;
      margin-bottom: 0;
      height: initial;
  }

  100% {
    opacity: 1;
    height: initial;
    margin-bottom: 0;
    // transform-origin: 0 100%;
    // transform: translateY(0%);
  }
}
