$body-background-color: #eee;
$chat-window-background-color: #eee;
$bubble-background-color: #fff;
$bubble-border-color: #000;
$bubble-shadow-color: rgba(180,180,180,0.5);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  background: $body-background-color;
}

#app {
  flex: 0 1 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: $body-background-color;
  width: 50rem;
  max-width: 100%;
  display: flex;
}

.index {
  flex: 1 0 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: $chat-window-background-color;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  max-width: 100%;

  .conversation-bubbles,
  .conversation-part {
    display: flex;
    flex-basis: auto;
    align-self: stretch;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  // Past Conversation
  .conversation-bubbles {
    padding-bottom: 0.5rem;
    width: 100%;

    .botbubblepast-component, .botbubble-component {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: .5rem;
      margin-left: .4rem;
      margin-right: .4rem;

    }

    .clientbuttonpast-component,
    .clientinputpast-component {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: .5rem;
      margin-left: .4rem;
      margin-right: .4rem;

    }
    .botbubblepast-component, .botbubble-component,.clientbuttonpast-component,
    .clientinputpast-component {
      .bubble-inner {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 80%;
        padding: 0.5rem;
        background-color: #aaa;
        border-radius: 0.3rem;
        background-color: $bubble-background-color;
        box-shadow: 0.01rem 0.05rem 0 0 $bubble-shadow-color;
      }
    }
    .icon-component {
      flex: 0 0 20%;
      align-self: flex-start;
      display: inline-block;
      color: black;
      min-width: 40px;
      max-width: 60px;
      margin-right: 0.6rem;
      .name {
        font-size: .8rem;
        text-align: center;
      }
      img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
      }
    }

    .text {
      flex: 1 1 auto;
      align-self: stretch;
      display: inline-block;
      min-width: 5%;
      padding: .4rem;
      &[data-botId='fred'] {
        color: blue;
      }
      &[data-botId='doc'] {
        color: red;
      }
    }
  }

  // Now answering
  .conversation-part {
    text-align: center;

    .botbubble-component,
    .clientbutton-component,
    .clientdisabled-component {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
  }



  .conversation-part {
    .clientbutton-component,
    .clientdisabled-component,
    .clientinput-component {
      display: inline-block;
      min-width: 10%;
      button,
      input {
        display: inline-block;
        margin: .5rem .2rem;
        padding: .3rem;
        border-radius: 0.3rem;
        background-color: $bubble-background-color;
        box-shadow: 0.03rem 0.07rem 0 0 $bubble-shadow-color;
      }
    }

    .clientinput-component input {
      background-color: white;
    }

    .clientdisabled-component {
      & > button {
        background-color: #aaa;
        color: #ccc;
      }
    }
  }
}
