$body-background-color: #eee;
$chat-window-background-color: #eee;
$bubble-background-color: #fff;
$bubble-border-color: #000;
$bubble-shadow-color: rgba(180,180,180,0.5);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  color: #fff;
  background: $body-background-color;
}

#app {
  flex: 0 1 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: $body-background-color;
  width: 50rem;
  max-width: 100%;
  display: flex;
}

.index {
  flex: 1 0 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: $chat-window-background-color;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  max-width: 100%;

  .conversation-bubbles,
  .conversation-part {
    display: flex;
    flex-basis: auto;
    align-self: stretch;
    flex-direction: column;

    .botbubble-component,
    .botbubblepast-component,
    .clientbutton-component,
    .clientbuttonpast-component,
    .clientdisabled-component,
    .clientinput-component,
    .clientinputpast-component {
      max-width: 80%;
      min-width: 60%;
      margin: 0.3rem 0.5rem;
      align-self: stretch;

      & > button,
      & > div,
      .icon-component,
      .text {
        display: inline-block;
      }

      & > button,
      & > div {
        padding: 0.5rem;
        background-color: #AAA;
        border-radius: 0.3rem;
        background-color: $bubble-background-color;
        box-shadow: 0.01rem 0.05rem 0 0 $bubble-shadow-color;

        .icon-component {
          color: black;
          min-width: 4rem;
          margin-right: 0.6rem;
          img {
            height: 30px;
            width: 30px;
          }
        }

        .text {
          min-width: 5%;
          max-width: 78%;

          &[data-botId='fred'] {
            color: blue;
          }

          &[data-botId='doc'] {
            color: red;
          }
        }
      }
    }

    .clientbuttonpast-component,
    .clientinputpast-component {
      text-align: right;
    }

    .user-answers {
      width: 100%;
      text-align: center;

      .clientbutton-component,
      .clientdisabled-component {
        display: inline-block;
        min-width: 10%;

        & > button,
        & > input {
          display: inline-block;
          background-color: green;
        }
      }

      .clientdisabled-component {
        & > button {
          background-color: grey;
        }
      }
    }
  }
}
