/* Base Application Styles */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  color: #fff;
  background: #222;
}

#app {
  flex: 0 1 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: #999;
  width: 50rem;
  max-width: 100%;
  display: flex;
}

.index {
  flex: 1 0 0;
  align-self: stretch;
  flex-basis: auto;
  background-color: #CCC;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  max-width: 100%;



  .conversation-bubbles,
  .conversation-part {
    display: flex;
    flex-basis: auto;
    align-self: stretch;
    flex-direction: column;

    .botbubble-component,
    .botbubblepast-component,
    .clientbutton-component,
    .clientbuttonpast-component,
    .clientdisabled-component,
    .clientinput-component,
    .clientinputpast-component {
      max-width: 95%;
      min-width: 60%;
      margin: 0.3rem 0.5rem;
      align-self: stretch;

      & > div,
      .icon-component,
      .text {
        display: inline-block;
      }

      & > button,
      & > div {
        padding: 0.3rem;
        background-color: #AAA;
        border: 1px solid black;

        .icon-component {
          // max-width: 15%;
          min-width: 4rem;
          margin-right: .6rem;
        }

        .text {
          min-width: 5%;
          max-width: 78%;

          &[data-botId='fred'] {
            color: blue;
          }

          &[data-botId='doc'] {
            color: red;
          }
        }
      }
    }
    .user-answers {
      width: 100%;

      .clientbutton-component, .clientdisabled-component {
        display: inline-block;
        min-width: 10%;
        & > button, & > input {
          display: inline-block;
          background-color: green;
        }
      }
      .clientdisabled-component {
        & > button {
          background-color: grey;
        }
      }
    }

    // .clientinput-component, .clientinputpast-component  {
    //   &> div {
    //     display:inline-block;
    //     border: 1px dashed #f00;
    //     padding: .4rem;
    //   }
    // }
    //
    // .clientdisabled-component {
    //   border: 1px dashed #f00;
    // }
  }
}
