.botbubble-component {
  max-width: 90%;
  min-width: 60%;
  margin: .3rem .5rem;
  background-color: #AAA;
  padding: .3rem;
  border: 1px solid black;
  align-self: stretch;

  .icon, .text {
    display: inline-block;
  }
  .icon {
    width: 20%;
  }
  .text {
    width: 79%;
  }
  .text[data-botId='fred']{
    color: blue;
  }
  .text[data-botId='doc'] {
    color: red;
  }
}
